body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar */
.navbar {
    background-color: #2c3e50;
    color: white;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    color: #1abc9c;
}

.heading{
    align-items: center;
}

.heading h1{
    text-align: center;
}

/* Register Container */
.register-container {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.register-box {
    background-color: white;
    padding: 40px 30px;
    width: 500px;
    height: 550px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border-radius: 8px;
    text-align: center;
}

/* Avatar */
.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Form Fields */
.register-box input {
    width: 100%;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Button */
.register-box button {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 93%;
    padding: 10px;
    padding-right: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.toggle-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.register-box button:hover {
    background-color: #34495e;
}

/* Login Text */
.login-text {
    margin-top: 15px;
    font-size: 13px;
}

.login-text a {
    color: #3498db;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}